.back{
  background-color: FFD7AF;
}
.foto{
  width: 500px;
  height: 250px;
}
.paddingsa{
  padding-top: 20px;
  padding-bottom: 20px;
}
.head{
  background-color: white;
}
.biru{
  background-color: blue;
}
.biruu{
  background-color: cyan;
}
.biruuu{
  background-color: aqua;
}
